---
import dayjs from 'dayjs'
import { getLogo } from 'src/utils/logo'

interface Props {
  url: string
  title: string
  description: string
  pubDate: string
  tags: string[]
}
const { url, title, description, pubDate, tags } = Astro.props
const logo =
  tags.length > 0 && getLogo(tags[0]!).length > 0
    ? `logo/${getLogo(tags[0]!)}`
    : 'muchimuchi_logo_face.png'
const logoSize = tags.length > 0 && getLogo(tags[0]!).length > 0 ? 32 : 36
---

<a
  href={`/blogs/${url}`}
  class='duration-20 flex h-[110px] w-[350px] items-center rounded-xl border-[1px] border-border bg-[#FCFCFC] px-5 transition hover:border-gray-400 hover:bg-white'
>
  <img src={`/${logo}`} alt='icon' width={logoSize} height={logoSize} />
  <div class='w-full pl-5'>
    <p class='text-xl font-bold text-title'>{title}</p>
    <p class='w-[200px] truncate pt-1 text-xs text-surfaceText'>{description}</p>
    <p class='text-end text-[10px] text-surfaceText'>{dayjs(pubDate).format('YYYY/MM/DD')}</p>
  </div>
</a>
